
@font-face {
  font-family: 'BradleyHand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://psychotherapie-ruthradinger.at/media/breakdance/fonts/BradleyHandITCTTBold.woff') format('woff'),
	    url('https://psychotherapie-ruthradinger.at/media/breakdance/fonts/BradleyHandITCTTBold.woff2') format('woff2');
}
